{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 <div class="row">

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Performans Analizi Veri Tablosu
                </div>
                <div class="card-body">
                   <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Age</th>
      <th>Attrition</th>
      <th>BusinessTravel</th>
      <th>DailyRate</th>
      <th>Department</th>
      <th>DistanceFromHome</th>
      <th>Education</th>
      <th>EducationField</th>
      <th>EmployeeCount</th>
      <th>EmployeeNumber</th>
      <th>EnvironmentSatisfaction</th>
      <th>Gender</th>
      <th>HourlyRate</th>
      <th>JobInvolvement</th>
      <th>JobLevel</th>
      <th>JobRole</th>
      <th>JobSatisfaction</th>
      <th>MaritalStatus</th>
      <th>MonthlyIncome</th>
      <th>MonthlyRate</th>
      <th>NumCompaniesWorked</th>
      <th>Over18</th>
      <th>OverTime</th>
      <th>PercentSalaryHike</th>
      <th>PerformanceRating</th>
      <th>RelationshipSatisfaction</th>
      <th>StandardHours</th>
      <th>StockOptionLevel</th>
      <th>TotalWorkingYears</th>
      <th>TrainingTimesLastYear</th>
      <th>WorkLifeBalance</th>
      <th>YearsAtCompany</th>
      <th>YearsInCurrentRole</th>
      <th>YearsSinceLastPromotion</th>
      <th>YearsWithCurrManager</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>41</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>1102</td>
      <td>Sales</td>
      <td>1</td>
      <td>2</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>Female</td>
      <td>94</td>
      <td>3</td>
      <td>2</td>
      <td>Sales Executive</td>
      <td>4</td>
      <td>Single</td>
      <td>5993</td>
      <td>19479</td>
      <td>8</td>
      <td>Y</td>
      <td>Yes</td>
      <td>11</td>
      <td>3</td>
      <td>1</td>
      <td>80</td>
      <td>0</td>
      <td>8</td>
      <td>0</td>
      <td>1</td>
      <td>6</td>
      <td>4</td>
      <td>0</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>49</td>
      <td>No</td>
      <td>Travel_Frequently</td>
      <td>279</td>
      <td>Research &amp; Development</td>
      <td>8</td>
      <td>1</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>Male</td>
      <td>61</td>
      <td>2</td>
      <td>2</td>
      <td>Research Scientist</td>
      <td>2</td>
      <td>Married</td>
      <td>5130</td>
      <td>24907</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>23</td>
      <td>4</td>
      <td>4</td>
      <td>80</td>
      <td>1</td>
      <td>10</td>
      <td>3</td>
      <td>3</td>
      <td>10</td>
      <td>7</td>
      <td>1</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>37</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>1373</td>
      <td>Research &amp; Development</td>
      <td>2</td>
      <td>2</td>
      <td>Other</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>Male</td>
      <td>92</td>
      <td>2</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>3</td>
      <td>Single</td>
      <td>2090</td>
      <td>2396</td>
      <td>6</td>
      <td>Y</td>
      <td>Yes</td>
      <td>15</td>
      <td>3</td>
      <td>2</td>
      <td>80</td>
      <td>0</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>33</td>
      <td>No</td>
      <td>Travel_Frequently</td>
      <td>1392</td>
      <td>Research &amp; Development</td>
      <td>3</td>
      <td>4</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>5</td>
      <td>4</td>
      <td>Female</td>
      <td>56</td>
      <td>3</td>
      <td>1</td>
      <td>Research Scientist</td>
      <td>3</td>
      <td>Married</td>
      <td>2909</td>
      <td>23159</td>
      <td>1</td>
      <td>Y</td>
      <td>Yes</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>8</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>7</td>
      <td>3</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>27</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>591</td>
      <td>Research &amp; Development</td>
      <td>2</td>
      <td>1</td>
      <td>Medical</td>
      <td>1</td>
      <td>7</td>
      <td>1</td>
      <td>Male</td>
      <td>40</td>
      <td>3</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>2</td>
      <td>Married</td>
      <td>3468</td>
      <td>16632</td>
      <td>9</td>
      <td>Y</td>
      <td>No</td>
      <td>12</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>1</td>
      <td>6</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>32</td>
      <td>No</td>
      <td>Travel_Frequently</td>
      <td>1005</td>
      <td>Research &amp; Development</td>
      <td>2</td>
      <td>2</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>8</td>
      <td>4</td>
      <td>Male</td>
      <td>79</td>
      <td>3</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>4</td>
      <td>Single</td>
      <td>3068</td>
      <td>11864</td>
      <td>0</td>
      <td>Y</td>
      <td>No</td>
      <td>13</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>59</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1324</td>
      <td>Research &amp; Development</td>
      <td>3</td>
      <td>3</td>
      <td>Medical</td>
      <td>1</td>
      <td>10</td>
      <td>3</td>
      <td>Female</td>
      <td>81</td>
      <td>4</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>1</td>
      <td>Married</td>
      <td>2670</td>
      <td>9964</td>
      <td>4</td>
      <td>Y</td>
      <td>Yes</td>
      <td>20</td>
      <td>4</td>
      <td>1</td>
      <td>80</td>
      <td>3</td>
      <td>12</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>30</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1358</td>
      <td>Research &amp; Development</td>
      <td>24</td>
      <td>1</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>11</td>
      <td>4</td>
      <td>Male</td>
      <td>67</td>
      <td>3</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>3</td>
      <td>Divorced</td>
      <td>2693</td>
      <td>13335</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>22</td>
      <td>4</td>
      <td>2</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>38</td>
      <td>No</td>
      <td>Travel_Frequently</td>
      <td>216</td>
      <td>Research &amp; Development</td>
      <td>23</td>
      <td>3</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>12</td>
      <td>4</td>
      <td>Male</td>
      <td>44</td>
      <td>2</td>
      <td>3</td>
      <td>Manufacturing Director</td>
      <td>3</td>
      <td>Single</td>
      <td>9526</td>
      <td>8787</td>
      <td>0</td>
      <td>Y</td>
      <td>No</td>
      <td>21</td>
      <td>4</td>
      <td>2</td>
      <td>80</td>
      <td>0</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>36</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1299</td>
      <td>Research &amp; Development</td>
      <td>27</td>
      <td>3</td>
      <td>Medical</td>
      <td>1</td>
      <td>13</td>
      <td>3</td>
      <td>Male</td>
      <td>94</td>
      <td>3</td>
      <td>2</td>
      <td>Healthcare Representative</td>
      <td>3</td>
      <td>Married</td>
      <td>5237</td>
      <td>16577</td>
      <td>6</td>
      <td>Y</td>
      <td>No</td>
      <td>13</td>
      <td>3</td>
      <td>2</td>
      <td>80</td>
      <td>2</td>
      <td>17</td>
      <td>3</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>35</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>809</td>
      <td>Research &amp; Development</td>
      <td>16</td>
      <td>3</td>
      <td>Medical</td>
      <td>1</td>
      <td>14</td>
      <td>1</td>
      <td>Male</td>
      <td>84</td>
      <td>4</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>2</td>
      <td>Married</td>
      <td>2426</td>
      <td>16479</td>
      <td>0</td>
      <td>Y</td>
      <td>No</td>
      <td>13</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>1</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
      <td>4</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <td>29</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>153</td>
      <td>Research &amp; Development</td>
      <td>15</td>
      <td>2</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>15</td>
      <td>4</td>
      <td>Female</td>
      <td>49</td>
      <td>2</td>
      <td>2</td>
      <td>Laboratory Technician</td>
      <td>3</td>
      <td>Single</td>
      <td>4193</td>
      <td>12682</td>
      <td>0</td>
      <td>Y</td>
      <td>Yes</td>
      <td>12</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>0</td>
      <td>10</td>
      <td>3</td>
      <td>3</td>
      <td>9</td>
      <td>5</td>
      <td>0</td>
      <td>8</td>
    </tr>
    <tr>
      <th>12</th>
      <td>31</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>670</td>
      <td>Research &amp; Development</td>
      <td>26</td>
      <td>1</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>16</td>
      <td>1</td>
      <td>Male</td>
      <td>31</td>
      <td>3</td>
      <td>1</td>
      <td>Research Scientist</td>
      <td>3</td>
      <td>Divorced</td>
      <td>2911</td>
      <td>15170</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>17</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>1</td>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>13</th>
      <td>34</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1346</td>
      <td>Research &amp; Development</td>
      <td>19</td>
      <td>2</td>
      <td>Medical</td>
      <td>1</td>
      <td>18</td>
      <td>2</td>
      <td>Male</td>
      <td>93</td>
      <td>3</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>4</td>
      <td>Divorced</td>
      <td>2661</td>
      <td>8758</td>
      <td>0</td>
      <td>Y</td>
      <td>No</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <td>28</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>103</td>
      <td>Research &amp; Development</td>
      <td>24</td>
      <td>3</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>19</td>
      <td>3</td>
      <td>Male</td>
      <td>50</td>
      <td>2</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>3</td>
      <td>Single</td>
      <td>2028</td>
      <td>12947</td>
      <td>5</td>
      <td>Y</td>
      <td>Yes</td>
      <td>14</td>
      <td>3</td>
      <td>2</td>
      <td>80</td>
      <td>0</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <td>29</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1389</td>
      <td>Research &amp; Development</td>
      <td>21</td>
      <td>4</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>20</td>
      <td>2</td>
      <td>Female</td>
      <td>51</td>
      <td>4</td>
      <td>3</td>
      <td>Manufacturing Director</td>
      <td>1</td>
      <td>Divorced</td>
      <td>9980</td>
      <td>10195</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>1</td>
      <td>10</td>
      <td>1</td>
      <td>3</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>16</th>
      <td>32</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>334</td>
      <td>Research &amp; Development</td>
      <td>5</td>
      <td>2</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>21</td>
      <td>1</td>
      <td>Male</td>
      <td>80</td>
      <td>4</td>
      <td>1</td>
      <td>Research Scientist</td>
      <td>2</td>
      <td>Divorced</td>
      <td>3298</td>
      <td>15053</td>
      <td>0</td>
      <td>Y</td>
      <td>Yes</td>
      <td>12</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>2</td>
      <td>7</td>
      <td>5</td>
      <td>2</td>
      <td>6</td>
      <td>2</td>
      <td>0</td>
      <td>5</td>
    </tr>
    <tr>
      <th>17</th>
      <td>22</td>
      <td>No</td>
      <td>Non-Travel</td>
      <td>1123</td>
      <td>Research &amp; Development</td>
      <td>16</td>
      <td>2</td>
      <td>Medical</td>
      <td>1</td>
      <td>22</td>
      <td>4</td>
      <td>Male</td>
      <td>96</td>
      <td>4</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>4</td>
      <td>Divorced</td>
      <td>2935</td>
      <td>7324</td>
      <td>1</td>
      <td>Y</td>
      <td>Yes</td>
      <td>13</td>
      <td>3</td>
      <td>2</td>
      <td>80</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>53</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1219</td>
      <td>Sales</td>
      <td>2</td>
      <td>4</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>23</td>
      <td>1</td>
      <td>Female</td>
      <td>78</td>
      <td>2</td>
      <td>4</td>
      <td>Manager</td>
      <td>4</td>
      <td>Married</td>
      <td>15427</td>
      <td>22021</td>
      <td>2</td>
      <td>Y</td>
      <td>No</td>
      <td>16</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>31</td>
      <td>3</td>
      <td>3</td>
      <td>25</td>
      <td>8</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>19</th>
      <td>38</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>371</td>
      <td>Research &amp; Development</td>
      <td>2</td>
      <td>3</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>24</td>
      <td>4</td>
      <td>Male</td>
      <td>45</td>
      <td>3</td>
      <td>1</td>
      <td>Research Scientist</td>
      <td>4</td>
      <td>Single</td>
      <td>3944</td>
      <td>4306</td>
      <td>5</td>
      <td>Y</td>
      <td>Yes</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>6</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>20</th>
      <td>24</td>
      <td>No</td>
      <td>Non-Travel</td>
      <td>673</td>
      <td>Research &amp; Development</td>
      <td>11</td>
      <td>2</td>
      <td>Other</td>
      <td>1</td>
      <td>26</td>
      <td>1</td>
      <td>Female</td>
      <td>96</td>
      <td>4</td>
      <td>2</td>
      <td>Manufacturing Director</td>
      <td>3</td>
      <td>Divorced</td>
      <td>4011</td>
      <td>8232</td>
      <td>0</td>
      <td>Y</td>
      <td>No</td>
      <td>18</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>1</td>
      <td>5</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>21</th>
      <td>36</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>1218</td>
      <td>Sales</td>
      <td>9</td>
      <td>4</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>27</td>
      <td>3</td>
      <td>Male</td>
      <td>82</td>
      <td>2</td>
      <td>1</td>
      <td>Sales Representative</td>
      <td>1</td>
      <td>Single</td>
      <td>3407</td>
      <td>6986</td>
      <td>7</td>
      <td>Y</td>
      <td>No</td>
      <td>23</td>
      <td>4</td>
      <td>2</td>
      <td>80</td>
      <td>0</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>22</th>
      <td>34</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>419</td>
      <td>Research &amp; Development</td>
      <td>7</td>
      <td>4</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>28</td>
      <td>1</td>
      <td>Female</td>
      <td>53</td>
      <td>3</td>
      <td>3</td>
      <td>Research Director</td>
      <td>2</td>
      <td>Single</td>
      <td>11994</td>
      <td>21293</td>
      <td>0</td>
      <td>Y</td>
      <td>No</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>13</td>
      <td>4</td>
      <td>3</td>
      <td>12</td>
      <td>6</td>
      <td>2</td>
      <td>11</td>
    </tr>
    <tr>
      <th>23</th>
      <td>21</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>391</td>
      <td>Research &amp; Development</td>
      <td>15</td>
      <td>2</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>30</td>
      <td>3</td>
      <td>Male</td>
      <td>96</td>
      <td>3</td>
      <td>1</td>
      <td>Research Scientist</td>
      <td>4</td>
      <td>Single</td>
      <td>1232</td>
      <td>19281</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>14</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>34</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>699</td>
      <td>Research &amp; Development</td>
      <td>6</td>
      <td>1</td>
      <td>Medical</td>
      <td>1</td>
      <td>31</td>
      <td>2</td>
      <td>Male</td>
      <td>83</td>
      <td>3</td>
      <td>1</td>
      <td>Research Scientist</td>
      <td>1</td>
      <td>Single</td>
      <td>2960</td>
      <td>17102</td>
      <td>2</td>
      <td>Y</td>
      <td>No</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>8</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>25</th>
      <td>53</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1282</td>
      <td>Research &amp; Development</td>
      <td>5</td>
      <td>3</td>
      <td>Other</td>
      <td>1</td>
      <td>32</td>
      <td>3</td>
      <td>Female</td>
      <td>58</td>
      <td>3</td>
      <td>5</td>
      <td>Manager</td>
      <td>3</td>
      <td>Divorced</td>
      <td>19094</td>
      <td>10735</td>
      <td>4</td>
      <td>Y</td>
      <td>No</td>
      <td>11</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>1</td>
      <td>26</td>
      <td>3</td>
      <td>2</td>
      <td>14</td>
      <td>13</td>
      <td>4</td>
      <td>8</td>
    </tr>
    <tr>
      <th>26</th>
      <td>32</td>
      <td>Yes</td>
      <td>Travel_Frequently</td>
      <td>1125</td>
      <td>Research &amp; Development</td>
      <td>16</td>
      <td>1</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>33</td>
      <td>2</td>
      <td>Female</td>
      <td>72</td>
      <td>1</td>
      <td>1</td>
      <td>Research Scientist</td>
      <td>1</td>
      <td>Single</td>
      <td>3919</td>
      <td>4681</td>
      <td>1</td>
      <td>Y</td>
      <td>Yes</td>
      <td>22</td>
      <td>4</td>
      <td>2</td>
      <td>80</td>
      <td>0</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>10</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>27</th>
      <td>42</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>691</td>
      <td>Sales</td>
      <td>8</td>
      <td>4</td>
      <td>Marketing</td>
      <td>1</td>
      <td>35</td>
      <td>3</td>
      <td>Male</td>
      <td>48</td>
      <td>3</td>
      <td>2</td>
      <td>Sales Executive</td>
      <td>2</td>
      <td>Married</td>
      <td>6825</td>
      <td>21173</td>
      <td>0</td>
      <td>Y</td>
      <td>No</td>
      <td>11</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>1</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>28</th>
      <td>44</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>477</td>
      <td>Research &amp; Development</td>
      <td>7</td>
      <td>4</td>
      <td>Medical</td>
      <td>1</td>
      <td>36</td>
      <td>1</td>
      <td>Female</td>
      <td>42</td>
      <td>2</td>
      <td>3</td>
      <td>Healthcare Representative</td>
      <td>4</td>
      <td>Married</td>
      <td>10248</td>
      <td>2094</td>
      <td>3</td>
      <td>Y</td>
      <td>No</td>
      <td>14</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>1</td>
      <td>24</td>
      <td>4</td>
      <td>3</td>
      <td>22</td>
      <td>6</td>
      <td>5</td>
      <td>17</td>
    </tr>
    <tr>
      <th>29</th>
      <td>46</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>705</td>
      <td>Sales</td>
      <td>2</td>
      <td>4</td>
      <td>Marketing</td>
      <td>1</td>
      <td>38</td>
      <td>2</td>
      <td>Female</td>
      <td>83</td>
      <td>3</td>
      <td>5</td>
      <td>Manager</td>
      <td>1</td>
      <td>Single</td>
      <td>18947</td>
      <td>22822</td>
      <td>3</td>
      <td>Y</td>
      <td>No</td>
      <td>12</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>0</td>
      <td>22</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30</th>
      <td>33</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>924</td>
      <td>Research &amp; Development</td>
      <td>2</td>
      <td>3</td>
      <td>Medical</td>
      <td>1</td>
      <td>39</td>
      <td>3</td>
      <td>Male</td>
      <td>78</td>
      <td>3</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>4</td>
      <td>Single</td>
      <td>2496</td>
      <td>6670</td>
      <td>4</td>
      <td>Y</td>
      <td>No</td>
      <td>11</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>0</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>44</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1459</td>
      <td>Research &amp; Development</td>
      <td>10</td>
      <td>4</td>
      <td>Other</td>
      <td>1</td>
      <td>40</td>
      <td>4</td>
      <td>Male</td>
      <td>41</td>
      <td>3</td>
      <td>2</td>
      <td>Healthcare Representative</td>
      <td>4</td>
      <td>Married</td>
      <td>6465</td>
      <td>19121</td>
      <td>2</td>
      <td>Y</td>
      <td>Yes</td>
      <td>13</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>0</td>
      <td>9</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>32</th>
      <td>30</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>125</td>
      <td>Research &amp; Development</td>
      <td>9</td>
      <td>2</td>
      <td>Medical</td>
      <td>1</td>
      <td>41</td>
      <td>4</td>
      <td>Male</td>
      <td>83</td>
      <td>2</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>3</td>
      <td>Single</td>
      <td>2206</td>
      <td>16117</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>13</td>
      <td>3</td>
      <td>1</td>
      <td>80</td>
      <td>0</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>8</td>
    </tr>
    <tr>
      <th>33</th>
      <td>39</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>895</td>
      <td>Sales</td>
      <td>5</td>
      <td>3</td>
      <td>Technical Degree</td>
      <td>1</td>
      <td>42</td>
      <td>4</td>
      <td>Male</td>
      <td>56</td>
      <td>3</td>
      <td>2</td>
      <td>Sales Representative</td>
      <td>4</td>
      <td>Married</td>
      <td>2086</td>
      <td>3335</td>
      <td>3</td>
      <td>Y</td>
      <td>No</td>
      <td>14</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>1</td>
      <td>19</td>
      <td>6</td>
      <td>4</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>24</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>813</td>
      <td>Research &amp; Development</td>
      <td>1</td>
      <td>3</td>
      <td>Medical</td>
      <td>1</td>
      <td>45</td>
      <td>2</td>
      <td>Male</td>
      <td>61</td>
      <td>3</td>
      <td>1</td>
      <td>Research Scientist</td>
      <td>4</td>
      <td>Married</td>
      <td>2293</td>
      <td>3020</td>
      <td>2</td>
      <td>Y</td>
      <td>Yes</td>
      <td>16</td>
      <td>3</td>
      <td>1</td>
      <td>80</td>
      <td>1</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>43</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1273</td>
      <td>Research &amp; Development</td>
      <td>2</td>
      <td>2</td>
      <td>Medical</td>
      <td>1</td>
      <td>46</td>
      <td>4</td>
      <td>Female</td>
      <td>72</td>
      <td>4</td>
      <td>1</td>
      <td>Research Scientist</td>
      <td>3</td>
      <td>Divorced</td>
      <td>2645</td>
      <td>21923</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>12</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>2</td>
      <td>6</td>
      <td>3</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>36</th>
      <td>50</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>869</td>
      <td>Sales</td>
      <td>3</td>
      <td>2</td>
      <td>Marketing</td>
      <td>1</td>
      <td>47</td>
      <td>1</td>
      <td>Male</td>
      <td>86</td>
      <td>2</td>
      <td>1</td>
      <td>Sales Representative</td>
      <td>3</td>
      <td>Married</td>
      <td>2683</td>
      <td>3810</td>
      <td>1</td>
      <td>Y</td>
      <td>Yes</td>
      <td>14</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>37</th>
      <td>35</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>890</td>
      <td>Sales</td>
      <td>2</td>
      <td>3</td>
      <td>Marketing</td>
      <td>1</td>
      <td>49</td>
      <td>4</td>
      <td>Female</td>
      <td>97</td>
      <td>3</td>
      <td>1</td>
      <td>Sales Representative</td>
      <td>4</td>
      <td>Married</td>
      <td>2014</td>
      <td>9687</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>13</td>
      <td>3</td>
      <td>1</td>
      <td>80</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>38</th>
      <td>36</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>852</td>
      <td>Research &amp; Development</td>
      <td>5</td>
      <td>4</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>51</td>
      <td>2</td>
      <td>Female</td>
      <td>82</td>
      <td>2</td>
      <td>1</td>
      <td>Research Scientist</td>
      <td>1</td>
      <td>Married</td>
      <td>3419</td>
      <td>13072</td>
      <td>9</td>
      <td>Y</td>
      <td>Yes</td>
      <td>14</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>1</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>39</th>
      <td>33</td>
      <td>No</td>
      <td>Travel_Frequently</td>
      <td>1141</td>
      <td>Sales</td>
      <td>1</td>
      <td>3</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>52</td>
      <td>3</td>
      <td>Female</td>
      <td>42</td>
      <td>4</td>
      <td>2</td>
      <td>Sales Executive</td>
      <td>1</td>
      <td>Married</td>
      <td>5376</td>
      <td>3193</td>
      <td>2</td>
      <td>Y</td>
      <td>No</td>
      <td>19</td>
      <td>3</td>
      <td>1</td>
      <td>80</td>
      <td>2</td>
      <td>10</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>40</th>
      <td>35</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>464</td>
      <td>Research &amp; Development</td>
      <td>4</td>
      <td>2</td>
      <td>Other</td>
      <td>1</td>
      <td>53</td>
      <td>3</td>
      <td>Male</td>
      <td>75</td>
      <td>3</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>4</td>
      <td>Divorced</td>
      <td>1951</td>
      <td>10910</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>12</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>41</th>
      <td>27</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1240</td>
      <td>Research &amp; Development</td>
      <td>2</td>
      <td>4</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>54</td>
      <td>4</td>
      <td>Female</td>
      <td>33</td>
      <td>3</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>1</td>
      <td>Divorced</td>
      <td>2341</td>
      <td>19715</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>13</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>42</th>
      <td>26</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>1357</td>
      <td>Research &amp; Development</td>
      <td>25</td>
      <td>3</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>55</td>
      <td>1</td>
      <td>Male</td>
      <td>48</td>
      <td>1</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>3</td>
      <td>Single</td>
      <td>2293</td>
      <td>10558</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>12</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>43</th>
      <td>27</td>
      <td>No</td>
      <td>Travel_Frequently</td>
      <td>994</td>
      <td>Sales</td>
      <td>8</td>
      <td>3</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>56</td>
      <td>4</td>
      <td>Male</td>
      <td>37</td>
      <td>3</td>
      <td>3</td>
      <td>Sales Executive</td>
      <td>3</td>
      <td>Single</td>
      <td>8726</td>
      <td>2975</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>15</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>3</td>
      <td>9</td>
      <td>8</td>
      <td>1</td>
      <td>7</td>
    </tr>
    <tr>
      <th>44</th>
      <td>30</td>
      <td>No</td>
      <td>Travel_Frequently</td>
      <td>721</td>
      <td>Research &amp; Development</td>
      <td>1</td>
      <td>2</td>
      <td>Medical</td>
      <td>1</td>
      <td>57</td>
      <td>3</td>
      <td>Female</td>
      <td>58</td>
      <td>3</td>
      <td>2</td>
      <td>Laboratory Technician</td>
      <td>4</td>
      <td>Single</td>
      <td>4011</td>
      <td>10781</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>23</td>
      <td>4</td>
      <td>4</td>
      <td>80</td>
      <td>0</td>
      <td>12</td>
      <td>2</td>
      <td>3</td>
      <td>12</td>
      <td>8</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>45</th>
      <td>41</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>1360</td>
      <td>Research &amp; Development</td>
      <td>12</td>
      <td>3</td>
      <td>Technical Degree</td>
      <td>1</td>
      <td>58</td>
      <td>2</td>
      <td>Female</td>
      <td>49</td>
      <td>3</td>
      <td>5</td>
      <td>Research Director</td>
      <td>3</td>
      <td>Married</td>
      <td>19545</td>
      <td>16280</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>12</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>0</td>
      <td>23</td>
      <td>0</td>
      <td>3</td>
      <td>22</td>
      <td>15</td>
      <td>15</td>
      <td>8</td>
    </tr>
    <tr>
      <th>46</th>
      <td>34</td>
      <td>No</td>
      <td>Non-Travel</td>
      <td>1065</td>
      <td>Sales</td>
      <td>23</td>
      <td>4</td>
      <td>Marketing</td>
      <td>1</td>
      <td>60</td>
      <td>2</td>
      <td>Male</td>
      <td>72</td>
      <td>3</td>
      <td>2</td>
      <td>Sales Executive</td>
      <td>3</td>
      <td>Single</td>
      <td>4568</td>
      <td>10034</td>
      <td>0</td>
      <td>Y</td>
      <td>No</td>
      <td>20</td>
      <td>4</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>9</td>
      <td>5</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>47</th>
      <td>37</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>408</td>
      <td>Research &amp; Development</td>
      <td>19</td>
      <td>2</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>61</td>
      <td>2</td>
      <td>Male</td>
      <td>73</td>
      <td>3</td>
      <td>1</td>
      <td>Research Scientist</td>
      <td>2</td>
      <td>Married</td>
      <td>3022</td>
      <td>10227</td>
      <td>4</td>
      <td>Y</td>
      <td>No</td>
      <td>21</td>
      <td>4</td>
      <td>1</td>
      <td>80</td>
      <td>0</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>48</th>
      <td>46</td>
      <td>No</td>
      <td>Travel_Frequently</td>
      <td>1211</td>
      <td>Sales</td>
      <td>5</td>
      <td>4</td>
      <td>Marketing</td>
      <td>1</td>
      <td>62</td>
      <td>1</td>
      <td>Male</td>
      <td>98</td>
      <td>3</td>
      <td>2</td>
      <td>Sales Executive</td>
      <td>4</td>
      <td>Single</td>
      <td>5772</td>
      <td>20445</td>
      <td>4</td>
      <td>Y</td>
      <td>Yes</td>
      <td>21</td>
      <td>4</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>14</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>6</td>
      <td>0</td>
      <td>8</td>
    </tr>
    <tr>
      <th>49</th>
      <td>35</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1229</td>
      <td>Research &amp; Development</td>
      <td>8</td>
      <td>1</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>63</td>
      <td>4</td>
      <td>Male</td>
      <td>36</td>
      <td>4</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>4</td>
      <td>Married</td>
      <td>2269</td>
      <td>4892</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>19</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>50</th>
      <td>48</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>626</td>
      <td>Research &amp; Development</td>
      <td>1</td>
      <td>2</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>64</td>
      <td>1</td>
      <td>Male</td>
      <td>98</td>
      <td>2</td>
      <td>3</td>
      <td>Laboratory Technician</td>
      <td>3</td>
      <td>Single</td>
      <td>5381</td>
      <td>19294</td>
      <td>9</td>
      <td>Y</td>
      <td>Yes</td>
      <td>13</td>
      <td>3</td>
      <td>4</td>
      <td>80</td>
      <td>0</td>
      <td>23</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>51</th>
      <td>28</td>
      <td>Yes</td>
      <td>Travel_Rarely</td>
      <td>1434</td>
      <td>Research &amp; Development</td>
      <td>5</td>
      <td>4</td>
      <td>Technical Degree</td>
      <td>1</td>
      <td>65</td>
      <td>3</td>
      <td>Male</td>
      <td>50</td>
      <td>3</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>3</td>
      <td>Single</td>
      <td>3441</td>
      <td>11179</td>
      <td>1</td>
      <td>Y</td>
      <td>Yes</td>
      <td>13</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>52</th>
      <td>44</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1488</td>
      <td>Sales</td>
      <td>1</td>
      <td>5</td>
      <td>Marketing</td>
      <td>1</td>
      <td>68</td>
      <td>2</td>
      <td>Female</td>
      <td>75</td>
      <td>3</td>
      <td>2</td>
      <td>Sales Executive</td>
      <td>1</td>
      <td>Divorced</td>
      <td>5454</td>
      <td>4009</td>
      <td>5</td>
      <td>Y</td>
      <td>Yes</td>
      <td>21</td>
      <td>4</td>
      <td>3</td>
      <td>80</td>
      <td>1</td>
      <td>9</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>53</th>
      <td>35</td>
      <td>No</td>
      <td>Non-Travel</td>
      <td>1097</td>
      <td>Research &amp; Development</td>
      <td>11</td>
      <td>2</td>
      <td>Medical</td>
      <td>1</td>
      <td>70</td>
      <td>3</td>
      <td>Male</td>
      <td>79</td>
      <td>2</td>
      <td>3</td>
      <td>Healthcare Representative</td>
      <td>1</td>
      <td>Married</td>
      <td>9884</td>
      <td>8302</td>
      <td>2</td>
      <td>Y</td>
      <td>Yes</td>
      <td>13</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>1</td>
      <td>10</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>54</th>
      <td>26</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1443</td>
      <td>Sales</td>
      <td>23</td>
      <td>3</td>
      <td>Marketing</td>
      <td>1</td>
      <td>72</td>
      <td>3</td>
      <td>Female</td>
      <td>47</td>
      <td>2</td>
      <td>2</td>
      <td>Sales Executive</td>
      <td>4</td>
      <td>Married</td>
      <td>4157</td>
      <td>21436</td>
      <td>7</td>
      <td>Y</td>
      <td>Yes</td>
      <td>19</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>1</td>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>55</th>
      <td>33</td>
      <td>No</td>
      <td>Travel_Frequently</td>
      <td>515</td>
      <td>Research &amp; Development</td>
      <td>1</td>
      <td>2</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>73</td>
      <td>1</td>
      <td>Female</td>
      <td>98</td>
      <td>3</td>
      <td>3</td>
      <td>Research Director</td>
      <td>4</td>
      <td>Single</td>
      <td>13458</td>
      <td>15146</td>
      <td>1</td>
      <td>Y</td>
      <td>Yes</td>
      <td>12</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>0</td>
      <td>15</td>
      <td>1</td>
      <td>3</td>
      <td>15</td>
      <td>14</td>
      <td>8</td>
      <td>12</td>
    </tr>
    <tr>
      <th>56</th>
      <td>35</td>
      <td>No</td>
      <td>Travel_Frequently</td>
      <td>853</td>
      <td>Sales</td>
      <td>18</td>
      <td>5</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>74</td>
      <td>2</td>
      <td>Male</td>
      <td>71</td>
      <td>3</td>
      <td>3</td>
      <td>Sales Executive</td>
      <td>1</td>
      <td>Married</td>
      <td>9069</td>
      <td>11031</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>22</td>
      <td>4</td>
      <td>4</td>
      <td>80</td>
      <td>1</td>
      <td>9</td>
      <td>3</td>
      <td>2</td>
      <td>9</td>
      <td>8</td>
      <td>1</td>
      <td>8</td>
    </tr>
    <tr>
      <th>57</th>
      <td>35</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1142</td>
      <td>Research &amp; Development</td>
      <td>23</td>
      <td>4</td>
      <td>Medical</td>
      <td>1</td>
      <td>75</td>
      <td>3</td>
      <td>Female</td>
      <td>30</td>
      <td>3</td>
      <td>1</td>
      <td>Laboratory Technician</td>
      <td>1</td>
      <td>Married</td>
      <td>4014</td>
      <td>16002</td>
      <td>3</td>
      <td>Y</td>
      <td>Yes</td>
      <td>15</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>58</th>
      <td>31</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>655</td>
      <td>Research &amp; Development</td>
      <td>7</td>
      <td>4</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>76</td>
      <td>4</td>
      <td>Male</td>
      <td>48</td>
      <td>3</td>
      <td>2</td>
      <td>Laboratory Technician</td>
      <td>4</td>
      <td>Divorced</td>
      <td>5915</td>
      <td>9528</td>
      <td>3</td>
      <td>Y</td>
      <td>No</td>
      <td>22</td>
      <td>4</td>
      <td>4</td>
      <td>80</td>
      <td>1</td>
      <td>10</td>
      <td>3</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>1</td>
      <td>7</td>
    </tr>
    <tr>
      <th>59</th>
      <td>37</td>
      <td>No</td>
      <td>Travel_Rarely</td>
      <td>1115</td>
      <td>Research &amp; Development</td>
      <td>1</td>
      <td>4</td>
      <td>Life Sciences</td>
      <td>1</td>
      <td>77</td>
      <td>1</td>
      <td>Male</td>
      <td>51</td>
      <td>2</td>
      <td>2</td>
      <td>Manufacturing Director</td>
      <td>3</td>
      <td>Divorced</td>
      <td>5993</td>
      <td>2689</td>
      <td>1</td>
      <td>Y</td>
      <td>No</td>
      <td>18</td>
      <td>3</td>
      <td>3</td>
      <td>80</td>
      <td>1</td>
      <td>7</td>
      <td>2</td>
      <td>4</td>
      <td>7</td>
      <td>5</td>
      <td>0</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
                </div>
            </div>
        </div>


{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/static/assets/demo/chart-area-demo.js"></script>
    <script src="/static/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}