{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                    <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                    .
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <td>United States</td>
      <td>Cranston</td>
      <td>Rhode Island</td>
      <td>2920.0</td>
      <td>East</td>
      <td>OFF-ST-10000036</td>
      <td>Office Supplies</td>
      <td>Storage</td>
      <td>Recycled Data-Pak for Archival Bound Computer Printouts, 12-1/2 x 12-1/2 x 16</td>
      <td>592.7400</td>
    </tr>
    <tr>
      <th>7821</th>
      <td>7822</td>
      <td>CA-2017-169334</td>
      <td>21/10/2017</td>
      <td>24/10/2017</td>
      <td>Second Class</td>
      <td>GW-14605</td>
      <td>Giulietta Weimer</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Jackson</td>
      <td>Tennessee</td>
      <td>38301.0</td>
      <td>South</td>
      <td>OFF-ST-10004950</td>
      <td>Office Supplies</td>
      <td>Storage</td>
      <td>Tenex Personal Filing Tote With Secure Closure Lid, Black/Frost</td>
      <td>111.6720</td>
    </tr>
    <tr>
      <th>7822</th>
      <td>7823</td>
      <td>US-2015-115413</td>
      <td>26/08/2015</td>
      <td>01/09/2015</td>
      <td>Standard Class</td>
      <td>PP-18955</td>
      <td>Paul Prost</td>
      <td>Home Office</td>
      <td>United States</td>
      <td>Newark</td>
      <td>Delaware</td>
      <td>19711.0</td>
      <td>East</td>
      <td>OFF-AR-10003770</td>
      <td>Office Supplies</td>
      <td>Art</td>
      <td>Newell 340</td>
      <td>8.6400</td>
    </tr>
    <tr>
      <th>7823</th>
      <td>7824</td>
      <td>US-2015-115413</td>
      <td>26/08/2015</td>
      <td>01/09/2015</td>
      <td>Standard Class</td>
      <td>PP-18955</td>
      <td>Paul Prost</td>
      <td>Home Office</td>
      <td>United States</td>
      <td>Newark</td>
      <td>Delaware</td>
      <td>19711.0</td>
      <td>East</td>
      <td>TEC-AC-10002800</td>
      <td>Technology</td>
      <td>Accessories</td>
      <td>Plantronics Audio 478 Stereo USB Headset</td>
      <td>149.9700</td>
    </tr>
    <tr>
      <th>7824</th>
      <td>7825</td>
      <td>CA-2015-125150</td>
      <td>16/05/2015</td>
      <td>23/05/2015</td>
      <td>Standard Class</td>
      <td>PW-19030</td>
      <td>Pauline Webber</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>Los Angeles</td>
      <td>California</td>
      <td>90036.0</td>
      <td>West</td>
      <td>FUR-CH-10002439</td>
      <td>Furniture</td>
      <td>Chairs</td>
      <td>Iceberg Nesting Folding Chair, 19w x 6d x 43h</td>
      <td>232.8800</td>
    </tr>
    <tr>
      <th>7825</th>
      <td>7826</td>
      <td>CA-2016-127327</td>
      <td>03/02/2016</td>
      <td>07/02/2016</td>
      <td>Standard Class</td>
      <td>PW-19030</td>
      <td>Pauline Webber</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>Rome</td>
      <td>New York</td>
      <td>13440.0</td>
      <td>East</td>
      <td>FUR-CH-10004218</td>
      <td>Furniture</td>
      <td>Chairs</td>
      <td>Global Fabric Manager's Chair, Dark Gray</td>
      <td>90.8820</td>
    </tr>
    <tr>
      <th>7826</th>
      <td>7827</td>
      <td>CA-2018-117114</td>
      <td>31/10/2018</td>
      <td>05/11/2018</td>
      <td>Standard Class</td>
      <td>CY-12745</td>
      <td>Craig Yedwab</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>Chicago</td>
      <td>Illinois</td>
      <td>60610.0</td>
      <td>Central</td>
      <td>TEC-PH-10004042</td>
      <td>Technology</td>
      <td>Phones</td>
      <td>ClearOne Communications CHAT 70 OC Speaker Phone</td>
      <td>508.7680</td>
    </tr>
    <tr>
      <th>7827</th>
      <td>7828</td>
      <td>CA-2018-117114</td>
      <td>31/10/2018</td>
      <td>05/11/2018</td>
      <td>Standard Class</td>
      <td>CY-12745</td>
      <td>Craig Yedwab</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>Chicago</td>
      <td>Illinois</td>
      <td>60610.0</td>
      <td>Central</td>
      <td>OFF-EN-10001137</td>
      <td>Office Supplies</td>
      <td>Envelopes</td>
      <td>#10 Gummed Flap White Envelopes, 100/Box</td>
      <td>9.9120</td>
    </tr>
    <tr>
      <th>7828</th>
      <td>7829</td>
      <td>CA-2016-137302</td>
      <td>26/04/2016</td>
      <td>01/05/2016</td>
      <td>Standard Class</td>
      <td>BW-11110</td>
      <td>Bart Watters</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>San Diego</td>
      <td>California</td>
      <td>92105.0</td>
      <td>West</td>
      <td>FUR-CH-10002017</td>
      <td>Furniture</td>
      <td>Chairs</td>
      <td>SAFCO Optional Arm Kit for Workspace Cribbage Stacking Chair</td>
      <td>63.9360</td>
    </tr>
    <tr>
      <th>7829</th>
      <td>7830</td>
      <td>CA-2016-137302</td>
      <td>26/04/2016</td>
      <td>01/05/2016</td>
      <td>Standard Class</td>
      <td>BW-11110</td>
      <td>Bart Watters</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>San Diego</td>
      <td>California</td>
      <td>92105.0</td>
      <td>West</td>
      <td>OFF-AR-10000588</td>
      <td>Office Supplies</td>
      <td>Art</td>
      <td>Newell 345</td>
      <td>59.5200</td>
    </tr>
    <tr>
      <th>7830</th>
      <td>7831</td>
      <td>CA-2016-137302</td>
      <td>26/04/2016</td>
      <td>01/05/2016</td>
      <td>Standard Class</td>
      <td>BW-11110</td>
      <td>Bart Watters</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>San Diego</td>
      <td>California</td>
      <td>92105.0</td>
      <td>West</td>
      <td>TEC-PH-10003174</td>
      <td>Technology</td>
      <td>Phones</td>
      <td>RCA ViSYS 25825 Wireless digital phone</td>
      <td>311.9760</td>
    </tr>
    <tr>
      <th>7831</th>
      <td>7832</td>
      <td>CA-2016-137302</td>
      <td>26/04/2016</td>
      <td>01/05/2016</td>
      <td>Standard Class</td>
      <td>BW-11110</td>
      <td>Bart Watters</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>San Diego</td>
      <td>California</td>
      <td>92105.0</td>
      <td>West</td>
      <td>OFF-BI-10001524</td>
      <td>Office Supplies</td>
      <td>Binders</td>
      <td>GBC Premium Transparent Covers with Diagonal Lined Pattern</td>
      <td>50.3520</td>
    </tr>
    <tr>
      <th>7832</th>
      <td>7833</td>
      <td>CA-2017-112382</td>
      <td>09/05/2017</td>
      <td>13/05/2017</td>
      <td>Standard Class</td>
      <td>MB-18085</td>
      <td>Mick Brown</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Houston</td>
      <td>Texas</td>
      <td>77036.0</td>
      <td>Central</td>
      <td>TEC-PH-10001552</td>
      <td>Technology</td>
      <td>Phones</td>
      <td>I Need's 3d Hello Kitty Hybrid Silicone Case Cover for HTC One X 4g with 3d Hello Kitty Stylus Pen Green/pink</td>
      <td>19.1360</td>
    </tr>
    <tr>
      <th>7833</th>
      <td>7834</td>
      <td>CA-2016-128958</td>
      <td>24/01/2016</td>
      <td>28/01/2016</td>
      <td>Standard Class</td>
      <td>CR-12820</td>
      <td>Cyra Reiten</td>
      <td>Home Office</td>
      <td>United States</td>
      <td>West Palm Beach</td>
      <td>Florida</td>
      <td>33407.0</td>
      <td>South</td>
      <td>OFF-AR-10004757</td>
      <td>Office Supplies</td>
      <td>Art</td>
      <td>Crayola Colored Pencils</td>
      <td>13.1200</td>
    </tr>
    <tr>
      <th>7834</th>
      <td>7835</td>
      <td>CA-2016-106257</td>
      <td>13/04/2016</td>
      <td>17/04/2016</td>
      <td>Second Class</td>
      <td>EB-14110</td>
      <td>Eugene Barchas</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Los Angeles</td>
      <td>California</td>
      <td>90045.0</td>
      <td>West</td>
      <td>FUR-TA-10002530</td>
      <td>Furniture</td>
      <td>Tables</td>
      <td>Iceberg OfficeWorks 42" Round Tables</td>
      <td>241.5680</td>
    </tr>
    <tr>
      <th>7835</th>
      <td>7836</td>
      <td>CA-2016-106257</td>
      <td>13/04/2016</td>
      <td>17/04/2016</td>
      <td>Second Class</td>
      <td>EB-14110</td>
      <td>Eugene Barchas</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Los Angeles</td>
      <td>California</td>
      <td>90045.0</td>
      <td>West</td>
      <td>TEC-PH-10001494</td>
      <td>Technology</td>
      <td>Phones</td>
      <td>Polycom CX600 IP Phone VoIP phone</td>
      <td>479.9200</td>
    </tr>
    <tr>
      <th>7836</th>
      <td>7837</td>
      <td>CA-2016-149083</td>
      <td>25/09/2016</td>
      <td>30/09/2016</td>
      <td>Standard Class</td>
      <td>SH-19975</td>
      <td>Sally Hughsby</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>Seattle</td>
      <td>Washington</td>
      <td>98103.0</td>
      <td>West</td>
      <td>FUR-CH-10004289</td>
      <td>Furniture</td>
      <td>Chairs</td>
      <td>Global Super Steno Chair</td>
      <td>307.1360</td>
    </tr>
    <tr>
      <th>7837</th>
      <td>7838</td>
      <td>CA-2016-149083</td>
      <td>25/09/2016</td>
      <td>30/09/2016</td>
      <td>Standard Class</td>
      <td>SH-19975</td>
      <td>Sally Hughsby</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>Seattle</td>
      <td>Washington</td>
      <td>98103.0</td>
      <td>West</td>
      <td>OFF-LA-10002945</td>
      <td>Office Supplies</td>
      <td>Labels</td>
      <td>Permanent Self-Adhesive File Folder Labels for Typewriters, 1 1/8 x 3 1/2, White</td>
      <td>12.6000</td>
    </tr>
    <tr>
      <th>7838</th>
      <td>7839</td>
      <td>CA-2016-149083</td>
      <td>25/09/2016</td>
      <td>30/09/2016</td>
      <td>Standard Class</td>
      <td>SH-19975</td>
      <td>Sally Hughsby</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>Seattle</td>
      <td>Washington</td>
      <td>98103.0</td>
      <td>West</td>
      <td>TEC-AC-10002567</td>
      <td>Technology</td>
      <td>Accessories</td>
      <td>Logitech G602 Wireless Gaming Mouse</td>
      <td>159.9800</td>
    </tr>
    <tr>
      <th>7839</th>
      <td>7840</td>
      <td>US-2015-137869</td>
      <td>28/03/2015</td>
      <td>02/04/2015</td>
      <td>Standard Class</td>
      <td>CV-12295</td>
      <td>Christina VanderZanden</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Des Moines</td>
      <td>Iowa</td>
      <td>50315.0</td>
      <td>Central</td>
      <td>OFF-EN-10001509</td>
      <td>Office Supplies</td>
      <td>Envelopes</td>
      <td>Poly String Tie Envelopes</td>
      <td>6.1200</td>
    </tr>
    <tr>
      <th>7840</th>
      <td>7841</td>
      <td>US-2015-137869</td>
      <td>28/03/2015</td>
      <td>02/04/2015</td>
      <td>Standard Class</td>
      <td>CV-12295</td>
      <td>Christina VanderZanden</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Des Moines</td>
      <td>Iowa</td>
      <td>50315.0</td>
      <td>Central</td>
      <td>FUR-TA-10003954</td>
      <td>Furniture</td>
      <td>Tables</td>
      <td>Hon 94000 Series Round Tables</td>
      <td>1184.7200</td>
    </tr>
    <tr>
      <th>7841</th>
      <td>7842</td>
      <td>CA-2017-116603</td>
      <td>17/07/2017</td>
      <td>22/07/2017</td>
      <td>Standard Class</td>
      <td>AT-10735</td>
      <td>Annie Thurman</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>New York City</td>
      <td>New York</td>
      <td>10024.0</td>
      <td>East</td>
      <td>OFF-AP-10002892</td>
      <td>Office Supplies</td>
      <td>Appliances</td>
      <td>Belkin F5C206VTEL 6 Outlet Surge</td>
      <td>45.9600</td>
    </tr>
    <tr>
      <th>7842</th>
      <td>7843</td>
      <td>CA-2015-158470</td>
      <td>19/04/2015</td>
      <td>23/04/2015</td>
      <td>Second Class</td>
      <td>AG-10390</td>
      <td>Allen Goldenen</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Arlington</td>
      <td>Virginia</td>
      <td>22204.0</td>
      <td>South</td>
      <td>OFF-BI-10003638</td>
      <td>Office Supplies</td>
      <td>Binders</td>
      <td>GBC Durable Plastic Covers</td>
      <td>58.0500</td>
    </tr>
    <tr>
      <th>7843</th>
      <td>7844</td>
      <td>CA-2015-158470</td>
      <td>19/04/2015</td>
      <td>23/04/2015</td>
      <td>Second Class</td>
      <td>AG-10390</td>
      <td>Allen Goldenen</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Arlington</td>
      <td>Virginia</td>
      <td>22204.0</td>
      <td>South</td>
      <td>OFF-PA-10001569</td>
      <td>Office Supplies</td>
      <td>Paper</td>
      <td>Xerox 232</td>
      <td>71.2800</td>
    </tr>
    <tr>
      <th>7844</th>
      <td>7845</td>
      <td>US-2018-123834</td>
      <td>21/07/2018</td>
      <td>25/07/2018</td>
      <td>Standard Class</td>
      <td>GM-14500</td>
      <td>Gene McClure</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Pharr</td>
      <td>Texas</td>
      <td>78577.0</td>
      <td>Central</td>
      <td>FUR-TA-10001676</td>
      <td>Furniture</td>
      <td>Tables</td>
      <td>Hon 61000 Series Interactive Training Tables</td>
      <td>124.4040</td>
    </tr>
    <tr>
      <th>7845</th>
      <td>7846</td>
      <td>CA-2016-125976</td>
      <td>27/09/2016</td>
      <td>02/10/2016</td>
      <td>Standard Class</td>
      <td>JK-15205</td>
      <td>Jamie Kunitz</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Arlington</td>
      <td>Virginia</td>
      <td>22204.0</td>
      <td>South</td>
      <td>OFF-PA-10001125</td>
      <td>Office Supplies</td>
      <td>Paper</td>
      <td>Xerox 1988</td>
      <td>154.9000</td>
    </tr>
    <tr>
      <th>7846</th>
      <td>7847</td>
      <td>CA-2016-125976</td>
      <td>27/09/2016</td>
      <td>02/10/2016</td>
      <td>Standard Class</td>
      <td>JK-15205</td>
      <td>Jamie Kunitz</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Arlington</td>
      <td>Virginia</td>
      <td>22204.0</td>
      <td>South</td>
      <td>TEC-PH-10002496</td>
      <td>Technology</td>
      <td>Phones</td>
      <td>Cisco SPA301</td>
      <td>1871.8800</td>
    </tr>
    <tr>
      <th>7847</th>
      <td>7848</td>
      <td>CA-2017-128706</td>
      <td>27/02/2017</td>
      <td>02/03/2017</td>
      <td>Standard Class</td>
      <td>DW-13540</td>
      <td>Don Weiss</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Houston</td>
      <td>Texas</td>
      <td>77070.0</td>
      <td>Central</td>
      <td>FUR-FU-10004053</td>
      <td>Furniture</td>
      <td>Furnishings</td>
      <td>DAX Two-Tone Silver Metal Document Frame</td>
      <td>16.1920</td>
    </tr>
    <tr>
      <th>7848</th>
      <td>7849</td>
      <td>CA-2017-104311</td>
      <td>02/05/2017</td>
      <td>06/05/2017</td>
      <td>Standard Class</td>
      <td>AS-10090</td>
      <td>Adam Shillingsburg</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Irving</td>
      <td>Texas</td>
      <td>75061.0</td>
      <td>Central</td>
      <td>OFF-ST-10000321</td>
      <td>Office Supplies</td>
      <td>Storage</td>
      <td>Akro Stacking Bins</td>
      <td>18.9360</td>
    </tr>
    <tr>
      <th>7849</th>
      <td>7850</td>
      <td>CA-2017-104311</td>
      <td>02/05/2017</td>
      <td>06/05/2017</td>
      <td>Standard Class</td>
      <td>AS-10090</td>
      <td>Adam Shillingsburg</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Irving</td>
      <td>Texas</td>
      <td>75061.0</td>
      <td>Central</td>
      <td>OFF-ST-10002957</td>
      <td>Office Supplies</td>
      <td>Storage</td>
      <td>Sterilite Show Offs Storage Containers</td>
      <td>12.6720</td>
    </tr>
    <tr>
      <th>7850</th>
      <td>7851</td>
      <td>CA-2017-104311</td>
      <td>02/05/2017</td>
      <td>06/05/2017</td>
      <td>Standard Class</td>
      <td>AS-10090</td>
      <td>Adam Shillingsburg</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Irving</td>
      <td>Texas</td>
      <td>75061.0</td>
      <td>Central</td>
      <td>OFF-LA-10000973</td>
      <td>Office Supplies</td>
      <td>Labels</td>
      <td>Avery 502</td>
      <td>5.0400</td>
    </tr>
    <tr>
      <th>7851</th>
      <td>7852</td>
      <td>CA-2015-169649</td>
      <td>09/12/2015</td>
      <td>15/12/2015</td>
      <td>Standard Class</td>
      <td>TS-21205</td>
      <td>Thomas Seio</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>Chicago</td>
      <td>Illinois</td>
      <td>60653.0</td>
      <td>Central</td>
      <td>OFF-PA-10000143</td>
      <td>Office Supplies</td>
      <td>Paper</td>
      <td>Astroparche Fine Business Paper</td>
      <td>8.4480</td>
    </tr>
    <tr>
      <th>7852</th>
      <td>7853</td>
      <td>CA-2015-169649</td>
      <td>09/12/2015</td>
      <td>15/12/2015</td>
      <td>Standard Class</td>
      <td>TS-21205</td>
      <td>Thomas Seio</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>Chicago</td>
      <td>Illinois</td>
      <td>60653.0</td>
      <td>Central</td>
      <td>OFF-AP-10003287</td>
      <td>Office Supplies</td>
      <td>Appliances</td>
      <td>Tripp Lite TLP810NET Broadband Surge for Modem/Fax</td>
      <td>20.3880</td>
    </tr>
    <tr>
      <th>7853</th>
      <td>7854</td>
      <td>CA-2016-144890</td>
      <td>25/12/2016</td>
      <td>29/12/2016</td>
      <td>Standard Class</td>
      <td>SM-20320</td>
      <td>Sean Miller</td>
      <td>Home Office</td>
      <td>United States</td>
      <td>Los Angeles</td>
      <td>California</td>
      <td>90049.0</td>
      <td>West</td>
      <td>OFF-PA-10001526</td>
      <td>Office Supplies</td>
      <td>Paper</td>
      <td>Xerox 1949</td>
      <td>9.9600</td>
    </tr>
    <tr>
      <th>7854</th>
      <td>7855</td>
      <td>CA-2018-135587</td>
      <td>07/12/2018</td>
      <td>12/12/2018</td>
      <td>Standard Class</td>
      <td>BH-11710</td>
      <td>Brosina Hoffman</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Hattiesburg</td>
      <td>Mississippi</td>
      <td>39401.0</td>
      <td>South</td>
      <td>OFF-AP-10004540</td>
      <td>Office Supplies</td>
      <td>Appliances</td>
      <td>Eureka The Boss Lite 10-Amp Upright Vacuum, Blue</td>
      <td>320.6400</td>
    </tr>
    <tr>
      <th>7855</th>
      <td>7856</td>
      <td>CA-2018-135587</td>
      <td>07/12/2018</td>
      <td>12/12/2018</td>
      <td>Standard Class</td>
      <td>BH-11710</td>
      <td>Brosina Hoffman</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Hattiesburg</td>
      <td>Mississippi</td>
      <td>39401.0</td>
      <td>South</td>
      <td>TEC-AC-10001266</td>
      <td>Technology</td>
      <td>Accessories</td>
      <td>Memorex Micro Travel Drive 8 GB</td>
      <td>52.0000</td>
    </tr>
    <tr>
      <th>7856</th>
      <td>7857</td>
      <td>CA-2015-103429</td>
      <td>30/05/2015</td>
      <td>01/06/2015</td>
      <td>First Class</td>
      <td>LW-16825</td>
      <td>Laurel Workman</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>New York City</td>
      <td>New York</td>
      <td>10024.0</td>
      <td>East</td>
      <td>OFF-BI-10004233</td>
      <td>Office Supplies</td>
      <td>Binders</td>
      <td>GBC Pre-Punched Binding Paper, Plastic, White, 8-1/2" x 11"</td>
      <td>25.5840</td>
    </tr>
    <tr>
      <th>7857</th>
      <td>7858</td>
      <td>CA-2015-103429</td>
      <td>30/05/2015</td>
      <td>01/06/2015</td>
      <td>First Class</td>
      <td>LW-16825</td>
      <td>Laurel Workman</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>New York City</td>
      <td>New York</td>
      <td>10024.0</td>
      <td>East</td>
      <td>TEC-PH-10003505</td>
      <td>Technology</td>
      <td>Phones</td>
      <td>Geemarc AmpliPOWER60</td>
      <td>464.0000</td>
    </tr>
    <tr>
      <th>7858</th>
      <td>7859</td>
      <td>CA-2015-103429</td>
      <td>30/05/2015</td>
      <td>01/06/2015</td>
      <td>First Class</td>
      <td>LW-16825</td>
      <td>Laurel Workman</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>New York City</td>
      <td>New York</td>
      <td>10024.0</td>
      <td>East</td>
      <td>OFF-AP-10001005</td>
      <td>Office Supplies</td>
      <td>Appliances</td>
      <td>Honeywell Quietcare HEPA Air Cleaner</td>
      <td>235.9500</td>
    </tr>
    <tr>
      <th>7859</th>
      <td>7860</td>
      <td>CA-2015-103429</td>
      <td>30/05/2015</td>
      <td>01/06/2015</td>
      <td>First Class</td>
      <td>LW-16825</td>
      <td>Laurel Workman</td>
      <td>Corporate</td>
      <td>United States</td>
      <td>New York City</td>
      <td>New York</td>
      <td>10024.0</td>
      <td>East</td>
      <td>OFF-PA-10001712</td>
      <td>Office Supplies</td>
      <td>Paper</td>
      <td>Xerox 1948</td>
      <td>39.9600</td>
    </tr>
    <tr>
      <th>7860</th>
      <td>7861</td>
      <td>CA-2018-152261</td>
      <td>02/03/2018</td>
      <td>06/03/2018</td>
      <td>Standard Class</td>
      <td>JA-15970</td>
      <td>Joseph Airdo</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Cuyahoga Falls</td>
      <td>Ohio</td>
      <td>44221.0</td>
      <td>East</td>
      <td>OFF-BI-10002353</td>
      <td>Office Supplies</td>
      <td>Binders</td>
      <td>GBC VeloBind Cover Sets</td>
      <td>18.5280</td>
    </tr>
    <tr>
      <th>7861</th>
      <td>7862</td>
      <td>CA-2016-142993</td>
      <td>12/10/2016</td>
      <td>17/10/2016</td>
      <td>Standard Class</td>
      <td>KA-16525</td>
      <td>Kelly Andreada</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Seattle</td>
      <td>Washington</td>
      <td>98103.0</td>
      <td>West</td>
      <td>TEC-AC-10003038</td>
      <td>Technology</td>
      <td>Accessories</td>
      <td>Kingston Digital DataTraveler 16GB USB 2.0</td>
      <td>17.9000</td>
    </tr>
    <tr>
      <th>7862</th>
      <td>7863</td>
      <td>CA-2016-142993</td>
      <td>12/10/2016</td>
      <td>17/10/2016</td>
      <td>Standard Class</td>
      <td>KA-16525</td>
      <td>Kelly Andreada</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Seattle</td>
      <td>Washington</td>
      <td>98103.0</td>
      <td>West</td>
      <td>OFF-ST-10000934</td>
      <td>Office Supplies</td>
      <td>Storage</td>
      <td>Contico 72"H Heavy-Duty Storage System</td>
      <td>81.9600</td>
    </tr>
    <tr>
      <th>7863</th>
      <td>7864</td>
      <td>CA-2016-143364</td>
      <td>14/07/2016</td>
      <td>19/07/2016</td>
      <td>Second Class</td>
      <td>TG-21310</td>
      <td>Toby Gnade</td>
      <td>Consumer</td>
      <td>United States</td>
      <td>Mesa</td>
      <td>Arizona</td>
      <td>85204.0</td>
      <td>West</td>
      <td>OFF-ST-10002743</td>
      <td>Office Supplies</td>
      <td>Storage</td>
      <td>SAFCO Boltless Steel Shelving</td>
      <td>272.7360</td>
    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}
