
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
<!--            <div class="sb-sidenav-menu-heading">Core</div>-->
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="index.html">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Analiz Sistemi
            </a>
            <div> </div>
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="profile.html">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Hesap
            </a>

            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="Rapor.html">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Raporlar
            </a>



            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="tables.html" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                       <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Tablolar
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>


                    </a>
                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="page-403.html">Satış Analiz Tablosu</a>
                            <a class="nav-link" href="page-404.html">Performans Analiz Tablosu</a>

                        </nav>
                    </div>




<!--            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">-->
<!--                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">-->
<!--&lt;!&ndash;                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">&ndash;&gt;-->
<!--&lt;!&ndash;                        Authentication&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--                        <a class="nav-link" href="#">Tablolar</a>-->
<!--                            <a class="nav-link" href="#">ChatBoot Kayıtları</a>-->
<!--                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">-->
<!--                        <nav class="sb-sidenav-menu-nested nav">-->
<!--                            <a class="nav-link" href="tables.html">Tablolar</a>-->
<!--                            <a class="nav-link" href="charts.html">ChatBoot Kayıtları</a>-->
<!--&lt;!&ndash;                            <a class="nav-link" href="#">Forgot Password</a>&ndash;&gt;-->
<!--                        </nav>-->
<!--                    </div>-->
<!--                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">-->
<!--                        Error-->
<!--                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                    </a>-->
<!--                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">-->
<!--                        <nav class="sb-sidenav-menu-nested nav">-->
<!--                            <a class="nav-link" href="page-403.html">401 Page</a>-->
<!--                            <a class="nav-link" href="page-404.html">404 Page</a>-->
<!--                            <a class="nav-link" href="page-500.html">500 Page</a>-->
<!--                        </nav>-->
<!--                    </div>-->
<!--                </nav>-->
<!--            </div>-->
<!--            <div class="sb-sidenav-menu-heading">Addons</div>-->
<!--            <a class="nav-link {% if 'charts' in segment %} active {% endif %}" href="charts.html">-->
<!--                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
<!--                Charts-->
<!--            </a>-->
<!--            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="tables.html">-->
<!--                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>-->
<!--                Tables-->
<!--            </a>-->
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        {{ current_user.username }}
    </div>
</nav>
